<section>
  <div class="container">
    <div id="login">
      <ion-grid>
        <ion-row
          ><ion-col offset="1"><h1>Favor de introducir tus datos</h1> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-col
              ><ion-input
                label="Nombre"
                label-placement="floating"
                fill="outline"
              ></ion-input> </ion-col
          ></ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-input
              label="Correo"
              label-placement="floating"
              fill="outline"
            ></ion-input>
          </ion-col>
          <ion-col
            ><ion-input
              label="Contraseña"
              label-placement="floating"
              fill="outline"
              type="password"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            ><ion-button shape="round" expand="block" size="large"
              >Entrar</ion-button
            ></ion-col
          >
        </ion-row>
      </ion-grid>
    </div>
  </div>
</section>
